name: Pull Data

on: [workflow_dispatch]

jobs:
  check_for_data:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./data_retrieval/requirements.txt
    - name: Get and check data
      id: checkdata
      run: |
        python data_retrieval/check_new_data.py
    - name: Create artifact of test coverage
      if: ${{ steps.checkdata.outputs.check_outcome == true  }}
      uses: EndBug/add-and-commit@v7 
      with:
        add: 'src/data/vaccination-data.json'
        author_name: Nicolas Jaccard
        author_email: nicolas.jaccard@gmail.com
